body{
        background: rgb(253, 0, 0);
color:black;
        font-family:roboto;
        font-size:x-large;
        text-align:center;
}

img{
        width: 680px;
}

img:hover{
        transform:scaleX(-1)
}